
    <div class="card-content">
        <div class="card-img">
            <img [src]="card.image?.medium" alt="">
            <span><h4>{{ card.name }}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{ card.name }}</h3>
            <div class="rating">
                <div class="stars">
                    <span class="fa fa-star checked fa-color"></span>
                    <span class="review-no" [style.padding.px]="10">{{ card.rating }} reviews</span>
                    <button (click)="onSelect(card.id)" class="btn-card">Details</button>
                </div>

            </div>
           
               
        </div>
    </div>


